<div id="carousel-modal" class="modal">
    <div class="modal-box" data-lenis-prevent>
        <div class="modal-top">
            <img id="fullscreen-btn" src="../../img/icons/border-corners.svg" alt="" />
            <div class="modal-close-btn" data-modal-close="#carousel-modal">
                <svg><use xlink:href="img/icons/icons.svg#close"></use></svg>
            </div>
        </div>
        <div class="modal-box-item">
            <div class="modal-carousels">
                <div id="modal-carousel-main" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide" data-modal-open="#carousel-modal">
                                <img src="../../img/products/Image2.jpg" alt="" />
                            </li>
                            <li class="splide__slide">
                                <img src="../../img/products/Image3.jpg" alt="" />
                            </li>
                            <li class="splide__slide">
                                <img src="../../img/products/Image4.jpg" alt="" />
                            </li>
                            <li class="splide__slide">
                                <img src="../../img/products/Image5.jpg" alt="" />
                            </li>
                            <li class="splide__slide">
                                <img src="../../img/products/Image2.jpg" alt="" />
                            </li>
                            <li class="splide__slide">
                                <img src="../../img/products/Image4.jpg" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="modal-carousel-thumbnail" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
